# Configuration file

functions {
    # Dimension IDs that will use Vanilla cave generation.
    I:blackListedDims <
        -1
     >

    # Enable GregCaves generation. [default: true]
    B:enableGregCaves=true

    # Enable WorleyCaves generation. [default: true]
    B:enableWorleyCaves=true

    # Flips blacklist so it becomes whitelist. [default: false]
    B:revertBlacklist=false
}


