# Configuration file

##########################################################################################################
# shaders
#--------------------------------------------------------------------------------------------------------#
# SwanSong Shader Settings
##########################################################################################################

shaders {
    # TODO: ShadowQuality Desc
    # [default: MULT_1_0, possible values: [MULT_0_5, MULT_0_7, MULT_1_0, MULT_1_5, MULT_2_0]]
    S:ShadowQuality=MULT_1_0

    # TODO: SpecularMapping Desc
    # [default: ENABLED, possible values: [ENABLED, DISABLED]]
    S:SpecularMapping=ENABLED

    # TODO: OldHandLight Desc
    # [default: AUTO, possible values: [AUTO, ENABLED, DISABLED]]
    S:OldHandLight=AUTO

    # TODO: OldHandDepth Desc
    # [default: AUTO, possible values: [AUTO, ENABLED, DISABLED]]
    S:OldHandDepth=AUTO

    # TODO: CurrentShaderPack Desc
    # [default: (default)]
    S:CurrentShaderPack=(disabled)

    # TODO: HandDepth Desc
    # [default: MULT_1_0, possible values: [MULT_0_5, MULT_1_0, MULT_2_0]]
    S:HandDepth=MULT_1_0

    # TODO: NormalMapping Desc
    # [default: ENABLED, possible values: [ENABLED, DISABLED]]
    S:NormalMapping=ENABLED

    # 
    # [default: false]
    B:LetMeUseDepthOfFieldPlease=false

    # TODO: AntiAliasing Desc
    # [default: DISABLED, possible values: [DISABLED, FXAA_2X, FXAA_4X]]
    S:AntiAliasing=DISABLED

    # TODO: RenderQuality Desc
    # [default: MULT_1_0, possible values: [MULT_0_5, MULT_0_7, MULT_1_0, MULT_1_5, MULT_2_0]]
    S:RenderQuality=MULT_1_0
}


