# Configuration file

"BT:Effect:Agile" {
    S:color=9
    S:dataArray=||speed:0.3||crit:0.15||swift:1
    S:name=Agile
}


"BT:Effect:Annoying" {
    S:color=8
    S:dataArray=||damage:-0.2||speed:-0.3
    S:name=Annoying
}


"BT:Effect:Broken" {
    S:color=8
    S:dataArray=||damage:-0.4||speed:-0.4
    S:name=Broken
}


"BT:Effect:Bulky" {
    S:color=a
    S:dataArray=||damage:0.15||speed:-0.2||durability:0.1||slow:-1||bind:0.4
    S:name=Bulky
}


"BT:Effect:Cracky" {
    S:color=8
    S:dataArray=||durability:-0.2
    S:name=Cracky
}


"BT:Effect:Damaged" {
    S:color=8
    S:dataArray=||damage:-0.2
    S:name=Damaged
}


"BT:Effect:Dangerous" {
    S:color=d
    S:dataArray=||damage:0.2||lifesteal:0.6||crit:0.22||fear:1||speed:0.3||swift:1||poison:0.6
    S:name=Dangerous
}


"BT:Effect:Deadly" {
    S:color=9
    S:dataArray=||damage:0.1||speed:0.16
    S:name=Deadly
}


"BT:Effect:Demonic" {
    S:color=9
    S:dataArray=||speed:0.4||damage:0.15||crit:0.15||lifesteal:0.4||fear:1||swift:1
    S:name=Demonic
}


"BT:Effect:Dull" {
    S:color=8
    S:dataArray=||damage:-0.2
    S:name=Dull
}


"BT:Effect:Forceful" {
    S:color=2
    S:dataArray=||durability:0.15||bind:0.4
    S:name=Forceful
}


"BT:Effect:Godly" {
    S:color=d
    S:dataArray=||damage:0.15||crit:0.25||lifesteal:0.5||durability:0.15||swift:2
    S:name=Godly
}


"BT:Effect:Heavy" {
    S:color=f
    S:dataArray=||damage:0.15||speed:-0.3||slow:-1
    S:name=Heavy
}


"BT:Effect:Hurtful" {
    S:color=2
    S:dataArray=||damage:0.15
    S:name=Hurtful
}


"BT:Effect:Keen" {
    S:color=2
    S:dataArray=||crit:0.3
    S:name=Keen
}


"BT:Effect:Large" {
    S:color=a
    S:dataArray=||speed:-0.1||bind:0.5
    S:name=Large
}


"BT:Effect:Lazy" {
    S:color=8
    S:dataArray=||speed:-0.16
    S:name=Lazy
}


"BT:Effect:Legendary" {
    S:color=6
    S:dataArray=||damage:0.25||lifesteal:0.7||speed:0.5||fear:1||crit:0.45||durability:0.35||swift:2||poison:0.6||bind:0.4
    S:name=Legendary
}


"BT:Effect:Light" {
    S:color=f
    S:dataArray=||damage:-0.15||speed:0.3||swift:1
    S:name=Light
}


"BT:Effect:Massive" {
    S:color=a
    S:dataArray=||speed:-0.15||bind:0.6
    S:name=Massive
}


"BT:Effect:Murderous" {
    S:color=d
    S:dataArray=||damage:0.17||crit:0.35||fear:1||speed:0.18||swift:2||poison:0.6||bind:0.4
    S:name=Murderous
}


"BT:Effect:Nasty" {
    S:color=a
    S:dataArray=||damage:0.05||speed:0.1||durability:0.1
    S:name=Nasty
}


"BT:Effect:Nimble" {
    S:color=2
    S:dataArray=||speed:0.15||swift:1||damage:-0.05
    S:name=Nimble
}


"BT:Effect:Pointy" {
    S:color=2
    S:dataArray=||damage:0.1
    S:name=Pointy
}


"BT:Effect:Quick" {
    S:color=2
    S:dataArray=||speed:0.2||swift:1||damage:-0.1
    S:name=Quick
}


"BT:Effect:Rapid" {
    S:color=9
    S:dataArray=||speed:0.25||durability:0.1
    S:name=Rapid
}


"BT:Effect:Rusty" {
    S:color=d
    S:dataArray=||damage:-0.08||durability:-0.1||poison:0.6
    S:name=Rusty
}


"BT:Effect:Ruthless" {
    S:color=f
    S:dataArray=||damage:0.2||speed:-0.15||fear:1
    S:name=Ruthless
}


"BT:Effect:Savage" {
    S:color=d
    S:dataArray=||damage:0.15||speed:0.42||durability:0.2||swift:2||poison:0.6
    S:name=Savage
}


"BT:Effect:Shameful" {
    S:color=f
    S:dataArray=||damage:-0.2||speed:-0.4||durability:0.15
    S:name=Shameful
}


"BT:Effect:Sharp" {
    S:color=2
    S:dataArray=||damage:0.2
    S:name=Sharp
}


"BT:Effect:Shoddy" {
    S:color=8
    S:dataArray=||damage:-0.2||speed:-0.3
    S:name=Shoddy
}


"BT:Effect:Slow" {
    S:color=8
    S:dataArray=||speed:-0.3
    S:name=Slow
}


"BT:Effect:Sluggish" {
    S:color=8
    S:dataArray=||speed:-0.46||slow:-1
    S:name=Sluggish
}


"BT:Effect:Strong" {
    S:color=2
    S:dataArray=||durability:0.15
    S:name=Strong
}


"BT:Effect:Superior" {
    S:color=d
    S:dataArray=||damage:0.15||crit:0.3||durability:0.15||swift:1
    S:name=Superior
}


"BT:Effect:Terrible" {
    S:color=8
    S:dataArray=||damage:-0.2||speed:-0.15||durability:-0.08
    S:name=Terrible
}


"BT:Effect:Unhappy" {
    S:color=8
    S:dataArray=||damage:-0.15||speed:-0.2||durability:-0.1
    S:name=Unhappy
}


"BT:Effect:Unpleasant" {
    S:color=9
    S:dataArray=||damage:0.05||durability:0.15||fear:1
    S:name=Unpleasant
}


"BT:Effect:Zealous" {
    S:color=2
    S:dataArray=||crit:0.25||fear:1||lifesteal:0.3
    S:name=Zealous
}


##########################################################################################################
# BT:Effect:exampleEffect
#--------------------------------------------------------------------------------------------------------#
# This is an example effect, any effect using this identifier will not be loaded
##########################################################################################################

"BT:Effect:exampleEffect" {
    S:color=8
    S:dataArray=||durability:1.0||slow:1
    S:name=Example
}


##########################################################################################################
# Help
#--------------------------------------------------------------------------------------------------------#
#  Using this .cfg file you can add your own effects, which will be applied to tools. 
#  Adding your own effect is very simple. Below you can see the example of how it's done. You need to create a custom category, using # chars, then write the code effect name(make sure your name is unique, otherwise your effect will most likely be ignored).
#  Then you need to write this name again, this time without # chars, and add {} after it.
#  Now, there are 3 fields you need to write in this {}.
#  The first one is 'name'. This says, what name will be actually shown in-game(the tool prefix).
#  Second one is 'color'. You should put one hex number there. You can choose from this number set: 8,f,a,2,9,d,e,6,b,3,c,4. These represent the rarity of your effect. You can learn more about rarities in DummyCore code, in EnumRarityColor file.
#  The last one is 'dataArray'. This represents the effects, that will be applied to your buff. There are 9 effects by now - 'damage','speed','durability', 'swift', 'slow', 'lifesteal', 'fear', 'poison' and 'crit'.
#  To write this data you need to follow the simple rules: after : put ||, then put an actual name of one of the 10 possible effects. Then put : again, and after that write your value. It can be below 0, should never be an integer unless specified
#  This value is percentage-based, and it scales, as 1 = 100%, and 0.25 = 25%. Some effects only except integer values, such as 'swift', 'fear', and 'slow', THESE ARE THE ONLY EFFECTS THAT ACCEPT INTEGER VALUES, PLEASE GIVE THE CORRECT TYPE OF NUMBER TO THE CORRECT EFFECT. 
#  If you want to add more than one effect, just put || after the value you have last written, and start writing another data string. But remember, that || represents the beginning of the new datastring, so something like |||| will most likely lead to crash.
##########################################################################################################

Help {
}


