# Configuration file

barrel {
    # Additions for Composting [default: ]
    S:compostAdditions <
     >

    # Oredict Additions for Composting [default: ]
    S:compostAdditionsOredict <
     >

    # Allow Barrels to Fill When Rained On [default: true]
    B:enableBarrelRainFill=true

    # Enable Barrel Recipe (Blaze Rods) [default: true]
    B:enableBarrelRecipeBlazeRod=true

    # Enable Barrel Recipe (Clay) [default: true]
    B:enableBarrelRecipeClay=true

    # Enable Barrel Recipe (Dark Oak) [default: true]
    B:enableBarrelRecipeDarkOak=true

    # Enable Barrel Recipe (Dirt) [default: true]
    B:enableBarrelRecipeDirt=true

    # Enable Barrel Recipe (Double Flowers) [default: true]
    B:enableBarrelRecipeDoubleFlowers=true

    # Enable Barrel Recipe (End Stone) [default: true]
    B:enableBarrelRecipeEndStone=true

    # Enable Barrel Recipe (Ender Pearls) [default: true]
    B:enableBarrelRecipeEnderPearl=true

    # Enable Barrel Recipe (Netherrack) [default: true]
    B:enableBarrelRecipeNetherrack=true

    # Enable Barrel Recipe (Slime) [default: true]
    B:enableBarrelRecipeSlime=true

    # Enable Barrel Recipe (Soulsand) [default: true]
    B:enableBarrelRecipeSoulsand=true

    # Enable Default Barrel Crafting Recipes [default: true]
    B:enableDefaultBarrelCraftingRecipes=true
}


colors {
    #  [default: B8C754]
    S:acacia=B8C754

    #  [default: 83CC47]
    S:acacia_leaves=83CC47

    #  [default: F59DFA]
    S:allium=F59DFA

    #  [default: FFF68F]
    S:apple=FFF68F

    #  [default: E3E3E3]
    S:azure_bluet=E3E3E3

    #  [default: 80543D]
    S:beef_cooked=80543D

    #  [default: FF4242]
    S:beef_raw=FF4242

    #  [default: 6CC449]
    S:birch=6CC449

    #  [default: 33CFFF]
    S:blue_orchid=33CFFF

    #  [default: D1AF60]
    S:bread=D1AF60

    #  [default: DEFFB5]
    S:cactus=DEFFB5

    #  [default: FF9B0F]
    S:carrot=FF9B0F

    #  [default: FA955F]
    S:chicken_cooked=FA955F

    #  [default: FFE8E8]
    S:chicken_raw=FFE8E8

    #  [default: FFF461]
    S:dandelion=FFF461

    #  [default: 378030]
    S:dark_oak=378030

    #  [default: EEA96D]
    S:dirt=EEA96D

    #  [default: FFFEDB]
    S:dust=FFFEDB

    #  [default: FFFA66]
    S:egg=FFFA66

    #  [default: D8EBE5]
    S:fish_cooked=D8EBE5

    #  [default: 6DCFB3]
    S:fish_raw=6DCFB3

    #  [default: E3E3E3]
    S:gravel=E3E3E3

    #  [default: 22A116]
    S:jungle=22A116

    #  [default: FCC7F0]
    S:lilac=FCC7F0

    #  [default: FF443B]
    S:melon=FF443B

    #  [default: CFBFB6]
    S:mushroom_brown=CFBFB6

    #  [default: D6A8A5]
    S:mushroom_red=D6A8A5

    #  [default: FF2B52]
    S:netherwart=FF2B52

    #  [default: 35A82A]
    S:oak=35A82A

    #  [default: FF7E29]
    S:orange_tulip=FF7E29

    #  [default: E9E9E9]
    S:oxeye_daisy=E9E9E9

    #  [default: F3D2FC]
    S:peony=F3D2FC

    #  [default: F5C4FF]
    S:pink_tulip=F5C4FF

    #  [default: FF1212]
    S:poppy=FF1212

    #  [default: FFFDBD]
    S:pork_cooked=FFFDBD

    #  [default: FFA091]
    S:pork_raw=FFA091

    #  [default: FFF1B5]
    S:potato=FFF1B5

    #  [default: FFF1B5]
    S:potato_baked=FFF1B5

    #  [default: E0FF8A]
    S:potato_poison=E0FF8A

    #  [default: FFDB66]
    S:pumpkin=FFDB66

    #  [default: E39A6D]
    S:pumpkin_pie=E39A6D

    #  [default: FF3D12]
    S:red_tulip=FF3D12

    #  [default: FF1212]
    S:rose=FF1212

    #  [default: C45631]
    S:rotten_flesh=C45631

    #  [default: E87A3F]
    S:salmon_cooked=E87A3F

    #  [default: FF2E4A]
    S:salmon_raw=FF2E4A

    #  [default: FFFEA8]
    S:sand=FFFEA8

    #  [default: EDA17B]
    S:silkworm_cooked=EDA17B

    #  [default: FFFDC9]
    S:silkworm_raw=FFFDC9

    #  [default: 8F5B4D]
    S:soul_sand=8F5B4D

    #  [default: 963E44]
    S:spider_eye=963E44

    #  [default: 2E8042]
    S:spruce=2E8042

    #  [default: 9BFF8A]
    S:sugar_cane=9BFF8A

    #  [default: FFDD00]
    S:sunflower=FFDD00

    #  [default: 23630E]
    S:tall_grass=23630E

    #  [default: 23630E]
    S:vine=23630E

    #  [default: 269900]
    S:waterlily=269900

    #  [default: E3E162]
    S:wheat=E3E162

    #  [default: FFFFFF]
    S:white_tulip=FFFFFF
}


crook {
    # Crook Blacklist [default: ]
    S:crookBlacklist <
     >

    # Enable Default Crook Crafting Recipes [default: true]
    B:enableDefaultCrookCraftingRecipes=true

    # Enable Default Crook Rewards [default: true]
    B:enableDefaultCrookRewards=true

    # Infested Leaf String Chance Chance [range: 1.4E-45 ~ 3.4028235E38, default: 0.4]
    S:infestedLeafStringChance=0.4

    # Lilypad Crook Chance [range: -2147483648 ~ 2147483647, default: 100]
    I:lilypadChance=100
}


crucible {
    # Enable Default Crucible Crafting Recipes [default: true]
    B:enableDefaultCrucibleCraftingRecipes=true

    # Enable Default Crucible Rewards [default: true]
    B:enableDefaultCrucibleRewards=true

    # Enable Default Heat Sources [default: true]
    B:enableDefaultHeatSources=true
}


general {
    # Overwrite Default IC2 Macerator Recipes (if present) [default: true]
    B:overwriteIC2Macerator=true

    # Overwrite Default Thermal Expansion Pulverizer Recipes (if present) [default: true]
    B:overwriteThermalPulverizerRecipes=true
}


hammers {
    # Enable Default Hammer Crafting Recipes [default: true]
    B:enableDefaultHammerCraftingRecipes=true

    # Enable Default Hammer Rewards [default: true]
    B:enableDefaultHammerRewards=true

    # Enable Ice Shards [default: true]
    B:enableIceShards=true
}


ores {
    #  [range: -2147483648 ~ 2147483647, default: 8]
    I:aluminumChance=8

    #  [range: -2147483648 ~ 2147483647, default: 18]
    I:copperChance=18

    #  [range: -2147483648 ~ 2147483647, default: 10]
    I:copperChanceNether=10

    #  [default: false]
    B:dropAluminum=false

    #  [default: false]
    B:dropCopper=false

    #  [default: false]
    B:dropLead=false

    #  [default: false]
    B:dropNickel=false

    #  [default: false]
    B:dropOsmium=false

    #  [default: false]
    B:dropPlatinum=false

    #  [default: false]
    B:dropSilver=false

    #  [default: false]
    B:dropTin=false

    #  [range: -2147483648 ~ 2147483647, default: 32]
    I:goldChance=32

    #  [range: -2147483648 ~ 2147483647, default: 6]
    I:goldChanceNether=6

    #  [range: -2147483648 ~ 2147483647, default: 5]
    I:ironChance=5

    #  [range: -2147483648 ~ 2147483647, default: 6]
    I:ironChanceNether=6

    #  [range: -2147483648 ~ 2147483647, default: 32]
    I:leadChance=32

    #  [range: -2147483648 ~ 2147483647, default: 6]
    I:leadChanceEnd=6

    #  [range: -2147483648 ~ 2147483647, default: 32]
    I:nickelChance=32

    #  [range: -2147483648 ~ 2147483647, default: 10]
    I:nickelChanceNether=10

    #  [range: -2147483648 ~ 2147483647, default: 10]
    I:osmiumChance=10

    #  [range: -2147483648 ~ 2147483647, default: 128]
    I:platinumChance=128

    #  [range: -2147483648 ~ 2147483647, default: 20]
    I:platinumChanceEnd=20

    #  [range: -2147483648 ~ 2147483647, default: 45]
    I:silverChance=45

    #  [range: -2147483648 ~ 2147483647, default: 6]
    I:silverChanceEnd=6

    #  [range: -2147483648 ~ 2147483647, default: 18]
    I:tinChance=18

    #  [range: -2147483648 ~ 2147483647, default: 10]
    I:tinChanceEnd=10
}


sieve {
    # Allow Sieve Automation. Only Applies to things that simulate a player clicking on the block [default: false]
    B:allowSieveAutomation=false

    # Enable Default Mesh Crafting Recipes [default: true]
    B:enableDefaultMeshCraftingRecipe=true

    # Enable Default Crafting Recipe for Sieves [default: true]
    B:enableDefaultSieveCraftingRecipe=true

    # Enable Default Reward Registriong for Sieves [default: true]
    B:enableDefaultSieveRewards=true

    # Additions for Sieving [default: ]
    S:sieveAdditions <
     >

    # Oredict Additions for Sieving [default: ]
    S:sieveAdditionsOredict <
     >

    # Sieve Frustration Multiplier [range: -2147483648 ~ 2147483647, default: 0]
    I:sievePainMultiplier=0
}


world {
    # Allow Nether Fortresses [default: false]
    B:allowNetherFortresses=false

    # Enable Void End Hijacking [default: false]
    B:hijackEnd=false

    # Enable Void Nether Hijacking [default: false]
    B:hijackNether=false

    # Enable Void Overworld Hijacking [default: false]
    B:hijackOverworld=false
}


