# Configuration file

debug {
    # Enable debug mode. [default: false]
    B:debugMode=false

    # If set to true, print a list of biome names on game post init.
    B:printBiomes=false

    # If set to true, print a list of dimension names on game post init.
    B:printDimensions=false

    # If set to true, print a list of mob names on game post init.
    B:printMobs=false

    # If set to true, print a list of potions in the logs on game post init.
    B:printPotions=false
}


general {
    # Gif size cap in megabytes after being stitched into a png spritesheet. [range: 1 ~ 10, default: 2]
    I:gifSizeCap=2

    # Maximum frames a gif is allowed to have. [range: 1 ~ 9999, default: 1000]
    I:maxGifFrameCount=1000

    # List of passive mobs that should be able to inflict damage.
    S:passiveMobsWhichCanInflictDamage <
     >
}


misc-tweaks {
    # Disable the EnderCore information button in the modlist screen. [default: true]
    B:disableEnderCoreInfoButton=true
}


