# Configuration file

ancient {
    # Minimum delay between /iron, /wood uses (in ticks, default 12000 = 10 minutes) [range: 0 ~ 2147483647, default: 12000]
    I:ancient_drops_delay=12000
}


enable {
    # Enable really old commands (/iron, /wood, /solid) [default: false]
    B:ancient_commands_enable=false

    # Permission level for /iron [drop four saplings] (5 prevents use) [range: 0 ~ 5, default: 2]
    I:iron_permission_level=2
}


enchant {
    # /enchant clear to clear enchants enable [default: true]
    B:enchant_clear_enable=true
}


general {
    # enable /loot command [default: true]
    B:loot_enable=true
}


loot {
    # /loot destination:dump logs empty itemstacks [default: true]
    B:loot_dump_empties=true
}


permissions {
    # Permission level for /wood [drop four saplings] (5 prevents use) [range: 0 ~ 5, default: 2]
    I:iron_permission_level=2

    # Permission level for /loot (5 prevents use) [range: 0 ~ 5, default: 2]
    I:loot_permission_level=2
}


