#Multipart API config file

debug_asm=false

#Set to true to use mc style icons for the saw instead of the 3D model
useSawIcons=true

sawBronze
{
	durability=200
}

sawDiamond
{
	durability=1561
}

sawFlint
{
	durability=100
}

sawGold
{
	durability=32
}

sawIron
{
	durability=250
}

sawManasteel
{
	durability=300
}

sawOsmium
{
	durability=2048
}

sawSteel
{
	durability=1500
}

sawStone
{
	durability=100
}

sawThaumium
{
	durability=384
}
